.cuerpo {
    background-color: orange;
    width: 80%;
    height: 100%;
    margin: 2rem auto;
    padding: 2rem 1rem;
    border-radius: 1rem;
}

.diet-name {
    text-align: center;
    margin: 0;
    margin-bottom: 5rem;
}