.cuerpo {
    background-color: orange;
    width: 80%;
    height: 100%;
    margin: 2rem auto;
    padding: 2rem 1rem;
    border-radius: 1rem;
}

.diet-list-item {
    margin: .3rem 0rem;
    padding: 1rem 3rem;
    cursor: pointer;
    background-color: burlywood;
}