.diet-name {
    text-align: center;
    margin: 0;
    margin-bottom: 5rem;
    overflow-wrap: anywhere;
    width: fit-content;
    align-self: center;
    margin: 3rem auto;
    position: relative;
}

.diet-list {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: fit-content;
    padding-bottom: 1.5rem;
    width: 100%;
}

.meal-name {
    margin-top: -3rem;
    display: flex;
    position: relative;
    align-items: center;
}

.meal-box {
    border-radius: .2rem;
    margin: 0rem 1rem;
    padding: 0rem 1rem;
}

.meal-name i {
    max-height: 1.2rem;
    padding: .2rem;
    border-radius: 5px;
    font-size: 1.3rem;
}

.meal-name > span {
    order: 1;
}

.meal-list {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3rem 0 3rem 0;
    margin-bottom: 5rem;
    background-color: white;
    box-shadow: inset 0px 0px 9px 1px rgb(0 0 0 / 33%);
}

.meal-list-padding {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4.5rem 0 3rem 0;
    margin-bottom: 5rem;
    background-color: white;
    box-shadow: inset 0px 0px 9px 1px rgb(0 0 0 / 33%);
}

.meal-option {
    background-image: url('../../img/meal-default.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 0%;
    background-color: white;
    width: 5rem;
    height: 5rem;
    border-radius: 20%;
    margin: 1rem 1rem;
    transition: all .5s;
}

.selected-option {
    border: 3px solid #982828cf;
}

.meal-option:hover {
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.658);
    cursor: pointer;
}

.meal-option > input {
    display: none;
}

.meal-option > i:not(.input-clean-image) {
    position: absolute;
    margin-left: 1.4rem;
    margin-top: -1rem;
    background-color: #16b8f3;
    font-size: 1.2rem;
    padding: .3rem;
    border-radius: 50%;
    color: #000000a1;
    transition: all .5s;
}

.input-clean-image {
    position: absolute;
    margin-left: 1.4rem;
    margin-top: 4rem;
    background-color: rgb(241, 75, 75);
    font-size: 1.1rem;
    padding: .3rem;
    border-radius: 50%;
    color: #000000a1;
    transition: all .5s; 
    width: 1.1em;
}

.meal-option > i:hover {
    color: #f8f8f9;
}

[course-meal-list] {
    position: relative;
}

.hide {
    display: none !important;
}

.goback {
    visibility: unset !important;
}

.add-meal {
    background-color: white;
    padding: .5rem;
    transition: all .3s;
    border-radius: 3px;
    border: 1px solid #7e7e7e;
    float: right;
    margin: 0 2rem 4rem 0;
}

.add-coursemeal {
    position: absolute;
    display: inline-block;
    top: 1.2rem;
    left: 1rem;
    background-color: white;
    padding: .5rem;
    transition: all .3s;
    border-radius: 3px;
    border: 1px solid #7e7e7e;
}

.add-meal:hover, .add-coursemeal:hover {
    cursor: pointer;
    opacity: .7;
}

.removeMeal {
    background-color: rgb(230, 105, 105);
    color: rgb(44, 43, 43);
    font-size: 1rem !important;
    padding: .3rem !important;
    margin-left: .1rem;
    transition: all .5s;
    order: 3;
}

.removeMeal:hover {
    background-color: rgb(202, 144, 144);
    cursor: pointer;
}

.meal-input-wrapper {
    width: fit-content;
    position: relative;
    display: flex;
    margin-bottom: 1rem;
    margin-top: -2rem;
    font-size: 1.3rem;
}

.meal-input-wrapper > div {
    display: flex;
}

.diet-input-wrapper {
    margin: 3rem 50%;
    transform: translateX(-50%);
    width: fit-content;
    font-size: 1.3rem;
}

.diet-input-wrapper i, .meal-input-wrapper i {
    margin-left: .4rem;
    padding: .2rem;
    border-radius: 5px;
    transition: opacity .5s;
}

.diet-name-edit {
    background-color: rgb(120, 168, 240);
    margin-left: .3rem;
    border-radius: 5px;
    transition: opacity .5s;
    position: absolute;
    font-size: 1.1rem;
    padding: .3rem;
    bottom: 2rem;
    left: 95%;
    order: 2;
}

.meal-name-edit {
    background-color: rgb(120, 168, 240);
    font-size: 1rem !important;
    bottom: inherit;
    padding: .3rem !important;
    border-radius: 3px;
    margin-left: .3rem;
    transition: opacity .5s;
    position: relative;
    order: 1;
}

.diet-input-wrapper i:hover, .diet-name-edit:hover,
.meal-name-edit:hover, .meal-input-wrapper i:hover {
    cursor: pointer;
    opacity: .6;
}

.undisplay {
    display: none;
}

.green {
    background-color: rgb(70, 196, 70) !important;
}

.red {
    background-color: rgb(230, 105, 105) !important;
}

@media (max-width: 750px) {
    .meal-box {
      margin: 0;
      padding: 0;
    }
}