.options-box {
    background-color: burlywood;
    margin: 3rem 0 0 0;
    padding: 0rem;
    transition: height .5s ease-in;
    padding: 0;
    overflow: hidden;
}

.options-box-displayed {
    background-color: burlywood;
    margin: 3rem 0 0 0;
    height: 100%;
    padding: 1.7rem;
}