.options-box {
    background-color: #ebebeb;
    transition: all .5s ease-in;
    transform: scale(0);
    height: 0;
    opacity: 0;
    overflow: hidden;
    box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 33%);
}

.displayed {
    background-color: #ebebeb;
    transform: scale(1);
    opacity: 1;
    min-height: 8.5rem;
    height: 100%;
    padding: 1.7rem;
    margin-top: -5rem;
    margin-bottom: 5rem;
}

.courseMealName {
    display: inline-block;
    font-size: 1.3rem;
    transform: scale(0);
    font-weight: bold;
    z-index: 1;
    left: 0%;
    padding: .3rem;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0px 0 4px 4px #0000004a;
    top: -1.2rem;
    background: white;
    transition: all .5s ease-in;
}

.courseMealName-displayed {
    transform: scale(1);
    left: 45%;
}

.courseMealName-displayed-top {
    top: -6.2rem;
}

.courseMealInfo {
    display: none;
    position: relative;
}

.ingredient-list {
    display: none;
    margin-top: 1.2rem;
}

.coursemeal-tab {
    padding: .3rem .6rem;
    margin-bottom: .7rem;
    margin-right: 1rem;
    background: white;
    transition: all .5s;
    box-shadow: 2px 3px 4px 0px #00000038;
    font-weight: bold;
    border-radius: 5px;
}

.meal-box {
    display: flex;
    justify-content: space-between;
}

.meal-info {
    overflow-wrap: anywhere;
    margin: auto;
    min-width: 40vw;
}

.meal-info > div:not(.ingredient-list) {
    box-shadow: inset 0px 0px 5px 1px rgb(0 0 0 / 33%);
    background: white;
    padding: .7rem;
}

.coursemeal-tab:hover {
    cursor: pointer;
    background: #ebebeb;
    margin: 0 0 .6rem 0;
}

.coursemeal-tab-selected {
    box-shadow: inset 0px 0px 5px 1px rgb(0 0 0 / 33%);
}

.shown-info {
    display: block;
}

.edit-box {
    display: flex;
    position: absolute;
    left: 92%;
}

.edit-box > i {
    margin-left: .4rem;
    padding: .2rem;
    border-radius: 5px;
    transition: opacity .5s;
}

.edit-box > i:hover {
    cursor: pointer;
    opacity: .6;
}

.edit-box > i:first-child {
    background-color: rgb(120, 168, 240);
}

.hiddenEl {
    visibility: hidden;
}

.undisplay {
    display: none;
}

.visibleEl {
    visibility: visible;
    resize: vertical;
}

.green {
    background-color: rgb(70, 196, 70) !important;
}

.red {
    background-color: rgb(230, 105, 105) !important;
}

.add-ingredient {
    position: absolute;
    display: inline-block;
    top: 1.2rem;
    right: 1rem;
    background-color: white;
    padding: .5rem;
    transition: all .3s;
    border-radius: 3px;
    border: 1px solid #7e7e7e;
}

.add-ingredient:hover {
    cursor: pointer;
    opacity: .7;
}

.removeCourse {
    position: absolute;
    background-color: rgb(230, 105, 105);
    color: rgb(44, 43, 43);
    font-size: 1.4rem;
    transition: all .5s;
    padding: .2rem;
    left: 100%;
    border-radius: 3px;
    top: 4px;
    margin-left: .3rem;
}

.removeCourse:hover {
    background-color: rgb(202, 144, 144);
    cursor: pointer;
}

[coursemeal-info] > p {
    margin: 0;
}

@media (max-width: 750px) {
    .meal-box {
      display: inline-block;
    }
    .courseMealName {
        left: 35%;
    }
    .coursemeal-tab-list {
        margin-top: 2.5rem;
        padding-bottom: 1.8rem;
    }
    .coursemeal-tab {
        margin-right: 0;
    }
}