.cuerpo {
    background-color: var(--body-color);
    width: 80%;
    height: 100%;
    margin: 1.5rem auto;
    padding: 1rem 1rem .6rem 1rem;
    border-radius: 1rem;
}

.diet-list {
    display: flex;
    align-items: center;
}

.diet-list-item {
    width: 100%;
    margin: .3rem 0rem;
    padding: 1rem 3rem;
    cursor: pointer;
    background: #fed777;
    border-radius: .5rem;
    transition: all .5s;
    box-shadow: 2px 3px 4px 0px #00000038;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.diet-list-item:visited, .diet-list-item:active, .diet-list-item:link {
    color: inherit;
}

.diet-list-item:hover {
    cursor: pointer;
    margin-bottom: 1rem;
    margin-top: .5rem;
    box-shadow: inset 0px 0px 9px 1px rgb(0 0 0 / 33%);
}

.remove-diet {
    position: absolute;
    margin: .3rem;
    padding: .5rem;
    cursor: pointer;
    background: #fc5858;
    border-radius: .5rem;
    transition: all .5s;
    box-shadow: 2px 3px 4px 0px #00000038;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    right: 10vw;
}

.remove-diet:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 9px 1px rgb(0 0 0 / 33%);
}

.create-diet {
    padding: 1rem;
    margin: 0 0 1rem 0;
    display: inline-block;
    margin-top: 0rem;
    border-radius: .5rem;
    background-color: #4455ee;
    transition: all .5s;
    border: 1px solid #0000000e;
    font-weight: bold;
    color: white;
}

.create-diet:link {
    text-decoration: none;
}

.create-diet:hover {
    cursor: pointer;
    margin-left: 1rem;
    box-shadow: inset 0px 0px 9px 1px rgb(0 0 0 / 33%);
    box-shadow: -3px 3px 5px 0px #0000007a;
}

.my-diets-label {
    padding: 2rem 0 .5rem 0;
    margin-bottom: 0;
    font-size: 2.5rem;
    margin-left: 2.2rem;
}

.my-diets-label-border-bottom {
    background: linear-gradient(90deg, rgba(249,249,249,1) 0%, rgba(122,120,118,1) 50%, rgba(255,255,255,1) 100%);
    margin-bottom: 1.5rem;
    height: 1.4px;
}

.logout {
    margin: 1rem 15%;
    display: block;
    padding: .8rem 2rem;
    background-color: tomato;
    border: 1px solid rgb(235, 99, 99);
    border-radius: 5px;
    font-weight: bold;
    color: white;
    transition: all .5s;
    cursor: pointer;
}

.logout:hover {
    background-color: rgb(247, 224, 220);
    color: black;
}

.goback {
    display: block;
    visibility: hidden;
    margin: 1rem 15%;
    border-radius: 45%;
    cursor: pointer;
    font-size: 1.5rem;
    padding: .4rem;
    transition: all .5s;
}

a.goback {
    color: inherit;
    text-decoration: none;
}

.userbuttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goback:hover {
    background-color: white;
    box-shadow: 0px 0px 5px 0px #0000007a;
}

@media (max-width: 750px) {
    .cuerpo {
      width: auto;
    }
}