/* Google button from https://codepen.io/jimjammc/pen/PMOVZB */
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');

:root{
  --white: #fff;
  --google-color: #4285f4;
  --twitter-color: #1da1f2;
  --github-color: #24292e;
  --facebook-color: #1877f2;
  --google-active-color: #1669F2;
  --twitter-active-color: #169af2;
  --github-active-color:  #343536;
  --facebook-active-color:  #4488e2;
  --body-color: #f8f8f9;
  --primary-color: #f9bf8f;
  --secondary-color: #fee9d7;
  --button: #e2434b;
  --footer:#34222e;
}

body  {
  background: var(--body-color);
  font-family: 'Roboto';
}

.login-buttons {
  position: absolute;
  top: 25%;
}

.login-buttons > div {
  margin-bottom: .6rem;
}

/* Providers css */
.provider-btn {
  width: 190px;
  height: 42px;
}

.provider-btn > .provider-icon-wrapper {
  position: absolute;
  width: 42px;
  height: 42px;
  background-color: var(--white);
}

.provider-btn .provider-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}

.provider-btn > .btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: var(--white);
  font-size: 14px;
  letter-spacing: 0.2px;
}

/* Google login */
.google-btn {
  background-color: var(--google-color);
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  cursor: pointer;
}

.google-btn:hover {
  box-shadow: 0 0 6px var(--google-color);
}

.google-btn:active {
  background: var(--google-active-color);
}

/* Twitter login */
.twitter-btn {
  background-color: var(--twitter-color);
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  cursor: pointer;
}

.twitter-icon {
  width: initial !important;
  margin-left: 10px !important;
}

.twitter-btn:hover {
  box-shadow: 0 0 6px var(--twitter-color);
}

.twitter-btn:active {
  background: var(--twitter-active-color);
}

/* Github login */
.github-btn {
  background-color: var(--github-color);
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  cursor: pointer;
}

.github-icon {
  width: 22px !important;
  height: 22px !important;
  margin-left: 9px !important;
}

.github-btn:hover {
  box-shadow: 0 0 6px var(--github-color);
}

.github-btn:active {
  background: var(--github-active-color);
}

/* Facebook login */
.facebook-btn {
  background-color: var(--facebook-color);
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  cursor: pointer;
}

.facebook-icon {
  width: 23px !important;
  height: 23px !important;
  margin-left: 8px !important;
}

.facebook-btn:hover {
  box-shadow: 0 0 6px var(--facebook-color);
}

.facebook-btn:active {
  background: var(--facebook-active-color);
}

.facebook-btn > .btn-text {
  font-size: 13px;
}

.loginbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.loginbox > div {
  background-color: white;
  box-shadow: 0px 3px 9px 1px rgb(0 0 0 / 33%);
  padding: 5rem;

}

.bgtitle {
  display: flex;
  position: absolute;
  height: 40vh;
  width: 100%;
  background-color: white;
  z-index: -1;
  box-shadow: 0 0 0 0 black;
  background-image: url('./img/login-backgound.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(.6);
}

.title {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: var(--body-color);
  padding: 0 .5rem;
  box-shadow: 0px 0 14px 9px rgb(255 255 255 / 58%);
  border-radius: 2rem;
  font-size: 5rem;
  margin: auto 50vw 0;
  top: 12%;
  font-family: 'Mali';
}

footer {
  display: flex;
  margin-top: 2rem;
  height: 6.5rem;
  align-items: center;
  background-color: #ebebeb;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 33%);
}

footer > div {
  padding-bottom: .5rem;
  font-weight: bold;
}

footer > a {
  font-size: 2rem;
  background-color: white;
  border-radius: 50%;
}

footer > a:visited, footer > a:link {
  color: inherit;
}

footer > a:hover {
  cursor: pointer;
  color: #1669F2;
}

.addthis-element {
  display: flex;
  justify-content: center;
  margin: -2rem auto 1rem auto;
}

@media (max-width: 750px) {
  .cuerpo {
    width: auto;
  }
  .loginbox {
    height: 100vh;
  }
  .share-diet {
      right: 19vw;
  }
  .userbuttons {
      flex-direction: column-reverse;
  }
}